@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap');

html {
    height: 100%;
    background: #FFFBFB;
}

body {
	width: 40%;
	margin: 0 auto;
    font-family: "Inter", "Lucida Sans", Tahoma, sans-serif;
    color: #361719;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
    flex-wrap: wrap;
}

h1 {
    font-family: "Inter", sans-serif;
    font-size: 2.5rem;
    font-weight: 400;
    margin-bottom: 0;
}

h1 > a {
    text-decoration: none;
    color: inherit;
}

h3 {
    margin-top: 5px;
    font-weight: 400;
    font-size: 1rem;
}

h4 {
    font-size: 1.2rem;
    margin-bottom: 0;
}

ul {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    gap: 1.5rem;
    margin-bottom: 0;
}

a {
    color: #361719;
}

a:hover {
    color: #a51d2d;
}

#viewKhepri {
	margin-bottom: 1rem;
	display: block;
}

#container {
    position: relative;
}

#chessboard {
    margin: 0 auto;
    max-width: 500px;
}

#evalBar {
    position: relative;
	height: 1rem;
	max-width: 500px;
	margin: 0 auto;
	background-color: #d9d9d9;
    border-radius: 3px;
}

#blackBar {
	height: 1rem;
	max-width: 500px;
	margin: 0 auto;
	background-color: #555;
	border-radius: 3px;
	width: 50%;
	right: 0;
	position: absolute;
    transition: width 1.5s ease;
}

#thinking {
    display: none;
	position: absolute;
	height: 100%;
	width: 100%;
    max-width: 500px;
	top: 0;
    left: 17.5%;
	background: rgba(0, 0, 0, .5);
	align-items: center;
	justify-content: center;
}

#thinking.show {
    display: flex;
}

.loader {
	width: 30px;
	height: 30px;
	border: 2px solid #EAEAEA;
	border-bottom-color: transparent;
	border-radius: 50%;
	display: inline-block;
	box-sizing: border-box;
	animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
} 

@media (max-width: 600px) {
    body {
        width: 90%;
    }

    #thinking {
        left: 0;
    }
}

@media (prefers-color-scheme: dark) {
    html {
        background: #36171B;
    }

    body {
        color: #FAF4F5;
    }

    a {
        color: #FFFFFF;
    }
}