html {
    height: 100%;
    background: #f9f9f9;
}

body {
	width: 40%;
	margin: 0 auto;
    font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
    color: #242424;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
    flex-wrap: wrap;
}

h1 {
    font-size: 2.5rem;
    font-weight: 400;
    margin-bottom: 0;
}

ul {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    gap: 1.5rem;
    margin-bottom: 0;
}

a {
    color: #4eb0ed;
}

#container {
    position: relative;
}

#chessboard {
    margin: 0 auto;
    max-width: 500px;
}

#thinking {
    display: none;
	position: absolute;
	height: 100%;
	width: 100%;
    max-width: 500px;
	top: 0;
    left: 17.5%;
	background: rgba(0, 0, 0, .5);
	align-items: center;
	justify-content: center;
}

#thinking.show {
    display: flex;
}

.loader {
	width: 30px;
	height: 30px;
	border: 2px solid #EAEAEA;
	border-bottom-color: transparent;
	border-radius: 50%;
	display: inline-block;
	box-sizing: border-box;
	animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
} 

@media (max-width: 600px) {
    body {
        width: 90%;
    }

    #thinking {
        left: 0;
    }
}

@media (prefers-color-scheme: dark) {
    html {
        background: #1a2024;
    }

    body {
        color: #e8e8e8;
    }

    a {
        color: #0093d2;
    }
}